<i class="fa fa-arrow-left go-back" aria-hidden="true" [routerLink]="['/agencias']">  Volver al listado</i>
<form class="form" [formGroup]="agencyForm">
    <div class="form-group">
      <label for="name">Nombre de la agencia</label>
      <input type="text"
             class="form-control"
             id="name"
             formControlName="agencia">
    </div>
    <div class="form-group">
      <label for="address">Direcci&oacute;n</label>
      <input type="text"
             class="form-control"
             id="address"
             formControlName="direccion">
    </div>
    <div class="form-group">
      <label for="district">Distrito</label>
      <input type="text"
             class="form-control"
             id="district"
             readonly
             formControlName="distrito">
    </div>
    <div class="form-group">
      <label for="province">Provincia</label>
      <input type="text"
             class="form-control"
             id="province"
             readonly
             formControlName="provincia">
    </div>
    <div class="form-group">
      <label for="departament">Departamento</label>
      <input type="text"
             class="form-control"
             id="departament"
             readonly
             formControlName="departamento">
    </div>
    <div class="form-group">
      <label for="latitude">Latitud</label>
      <input type="text"
             class="form-control"
             id="latitude"
             formControlName="lat">
    </div>
    <div>
      <label for="longitude">Longitud</label>
      <input type="text"
             class="form-control"
             id="longitude"
             formControlName="lon">
    </div>
    <button type="submit" class="btn btn-primary mt-4" (click)="updateAgency()">Actualizar</button>
  </form>